# {{ansible_managed}}

[placement_database]
connection = mysql+pymysql://placement:{{placement_db_user_password}}@{{db_host}}/placement

[keystone_authtoken]
www_authenticate_uri = https://{{keystone_host}}:5000
auth_url = https://{{keystone_host}}:5000
memcached_servers = {{memcached_host}}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = placement
password = {{placement_user_password}}
