# Password for CA private key
secrets_ca_key_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Root password for the database
secrets_db_root_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password of user admin
secrets_admin_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Database password for the Block Storage service
secrets_cinder_dbpass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password of Block Storage service user cinder
secrets_cinder_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Database password for the Dashboard
secrets_dash_dbpass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Database password for Image service
secrets_glance_dbpass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password of Image service user glance
secrets_glance_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Database password of Identity service
secrets_keystone_dbpass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# LDAP password of Identity service
secrets_ldap_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Secret for the metadata proxy
secrets_metadata_secret: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Database password for the Networking service
secrets_neutron_dbpass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password of Networking service user neutron
secrets_neutron_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Database password for Compute service
secrets_nova_dbpass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password of Compute service user nova
secrets_nova_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Database password for Placement service
secrets_placement_dbpass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password of the Placement service user placement
secrets_placement_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password for RabbitMQ user admin
secrets_rabbit_admin_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password of RabbitMQ user openstack
secrets_rabbit_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Database password for Orchestration service
secrets_heat_dbpass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password of user heat
secrets_heat_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password of user heat_domain_admin
secrets_heat_admin_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Horizon secret key
secrets_horizon_secret: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Database password for Container Infrastructure Management service
secrets_magnum_dbpass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password for user magnum
secrets_magnum_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password for user magnum_domain_admin
secrets_magnum_admin_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Database password for DNS service
secrets_designate_dbpass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password for user designate
secrets_designate_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Database password for Database service
secrets_trove_dbpass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password for user trove
secrets_trove_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Database password for Keymanager service
secrets_barbican_dbpass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
# Password for user barbican
secrets_barbican_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
