ETCD_NAME="{{hostvars[inventory_hostname][etcd_name_var]}}"
ETCD_DATA_DIR="/var/lib/etcd"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster-01"
ETCD_INITIAL_CLUSTER="{% for s in etcd_servers %}{{hostvars[s][etcd_name_var]}}=http://{{hostvars[s][etcd_ip_address_var]}}:2380{% endfor %}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{hostvars[inventory_hostname][etcd_ip_address_var]}}:2380"
ETCD_ADVERTISE_CLIENT_URLS="http://{{hostvars[inventory_hostname][etcd_ip_address_var]}}:2379"
ETCD_LISTEN_PEER_URLS="http://0.0.0.0:2380"
ETCD_LISTEN_CLIENT_URLS="http://{{hostvars[inventory_hostname][etcd_ip_address_var]}}:2379"
