# {{ansible_managed}}

[DEFAULT]
transport_url = rabbit://{{cinder_rabbitmq_user}}:{{cinder_rabbitmq_user_password}}@{{rabbitmq_host}}
auth_strategy = keystone
my_ip = {{cinder_ip_address}}
default_availability_zone = {{cinder_default_availability_zone}}
{% if is_block_storage_node %}
storage_availability_zone = {{os_availability_zone}}
glance_api_servers = {{glance_url}}
{% if cinder_backend == 'lvm' %}
enabled_backends = {% for p in cinder_lvm_pools %}lvm_{{p.name}}{% if not loop.last %},{% endif %}{% endfor %}
{% elif cinder_backend == 'rbd' %}
enabled_backends = {% for p in cinder_rbd_pools %}rbd_{{p.pool}}{% if not loop.last %},{% endif %}{% endfor %}
{% elif cinder_backend == 'nfs' %}
enabled_backends = nfs_{{cinder_nfs_backend_name}}
{% endif %}
{% endif %}

{% if cinder_backup_driver == 'nfs' %}
backup_driver = cinder.backup.drivers.nfs.NFSBackupDriver
backup_share = {{cinder_backup_nfs_share}}
{% if cinder_backup_nfs_options %}
backup_mount_options = {{cinder_backup_nfs_options}}
{% endif %}
{% elif cinder_backup_driver == 'rbd' %}
backup_driver = cinder.backup.drivers.ceph.CephBackupDriver
backup_ceph_conf = {{cinder_backup_rbd_ceph_conf}}
backup_ceph_user = {{cinder_backup_rbd_user}}
backup_ceph_pool = {{cinder_backup_rbd_pool}}
{% endif %}

[database]
connection = mysql+pymysql://cinder:{{cinder_db_user_password}}@{{db_host}}/cinder

[keystone_authtoken]
www_authenticate_uri = {{keystone_url}}
auth_url = {{keystone_url}}
memcached_servers = {{memcached_host}}:11211
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = cinder
password = {{cinder_user_password}}

[oslo_concurrency]
lock_path = /var/lib/cinder/tmp

{% if is_block_storage_node %}
{% if cinder_backend == 'lvm' %}
# lvm backends
{% for p in cinder_lvm_pools %}
[lvm_{{p.name}}]
volume_driver = cinder.volume.drivers.lvm.LVMVolumeDriver
volume_group = {{p.vg}}
volume_backend_name = {{p.name}}
target_protocol = iscsi
target_helper = lioadm

{% endfor %}
{% elif cinder_backend == 'rbd' %}
# rbd backends
{% for p in cinder_rbd_pools %}
[rbd_{{p.pool}}]
volume_driver = cinder.volume.drivers.rbd.RBDDriver
volume_backend_name = {{p.name}}
rbd_pool = {{p.pool}}
rbd_ceph_conf = {{cinder_rbd_ceph_conf}}
rbd_user = {{cinder_rbd_user}}
rbd_secret_uuid = {{cinder_rbd_secret_uuid}}
glance_api_version = 2

{% endfor %}
{% elif cinder_backend == 'nfs' %}
# nfs backends
[nfs_{{cinder_nfs_backend_name}}]
volume_driver = cinder.volume.drivers.nfs.NfsDriver
volume_backend_name = {{cinder_nfs_backend_name}}
nas_host = {{cinder_nfs_nas_host}}
nas_share_path = {{cinder_nfs_nas_share_path}}
{% if cinder_nfs_mount_options %}
nfs_mount_options = {{cinder_nfs_mount_options}}
{% endif %}
nfs_qcow2_volumes = True
{% endif %}
{% endif %}
