# {{ansible_managed}}

{# prefix names/pools with backend type for reference in enabled_backends #}
{% set lvm_backends = ['lvm_'] | product(cinder_lvm_pools | map(attribute='name')) | map('join') | list if 'lvm' in cinder_backends else [] %}
{% set rbd_backends = ['rbd_'] | product(cinder_rbd_pools | map(attribute='pool')) | map('join') | list if 'rbd' in cinder_backends else [] %}
{% set nfs_backends = ['nfs_'] | product(cinder_nfs_shares | map(attribute='name')) | map('join') | list if 'nfs' in cinder_backends else [] -%}

[DEFAULT]
transport_url = rabbit://{{cinder_rabbitmq_user}}:{{cinder_rabbitmq_user_password}}@{{rabbitmq_host}}
auth_strategy = keystone
my_ip = {{cinder_ip_address}}
default_availability_zone = {{cinder_default_availability_zone}}
default_volume_type = {{cinder_default_volume_type}}
{% if is_block_storage_node %}
storage_availability_zone = {{os_availability_zone}}
allow_availability_zone_fallback = {{cinder_allow_availability_zone_fallback|lower}}
glance_api_servers = {{glance_url}}
enabled_backends = {{ (lvm_backends + rbd_backends + nfs_backends) | join(',') }}
{% endif %}

{% if cinder_backup_driver == 'nfs' %}
backup_driver = cinder.backup.drivers.nfs.NFSBackupDriver
backup_share = {{cinder_backup_nfs_share}}
{% if cinder_backup_nfs_options %}
backup_mount_options = {{cinder_backup_nfs_options}}
{% endif %}
{% elif cinder_backup_driver == 'rbd' %}
backup_driver = cinder.backup.drivers.ceph.CephBackupDriver
backup_ceph_conf = {{cinder_backup_rbd_ceph_conf}}
backup_ceph_user = {{cinder_backup_rbd_user}}
backup_ceph_pool = {{cinder_backup_rbd_pool}}
{% endif %}

[database]
connection = mysql+pymysql://cinder:{{cinder_db_user_password}}@{{db_host}}/cinder

[keystone_authtoken]
www_authenticate_uri = {{keystone_url}}
auth_url = {{keystone_url}}
memcached_servers = {{memcached_host}}:11211
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = cinder
password = {{cinder_user_password}}

[oslo_concurrency]
lock_path = /var/lib/cinder/tmp

{% if is_block_storage_node %}
{% if 'lvm' in cinder_backends %}
# lvm backends
{% for p in cinder_lvm_pools %}
[lvm_{{p.name}}]
volume_driver = cinder.volume.drivers.lvm.LVMVolumeDriver
volume_group = {{p.vg}}
volume_backend_name = {{p.name}}
target_protocol = iscsi
target_helper = lioadm
{% if cinder_lvm_iscsi_ip_address %}
target_ip_address = {{cinder_lvm_iscsi_ip_address}}
{% endif %}

{% endfor %}
{% endif %}
{% if 'rbd' in cinder_backends %}
# rbd backends
{% for p in cinder_rbd_pools %}
[rbd_{{p.pool}}]
volume_driver = cinder.volume.drivers.rbd.RBDDriver
volume_backend_name = {{p.name}}
rbd_pool = {{p.pool}}
rbd_ceph_conf = {{cinder_rbd_ceph_conf}}
rbd_keyring_conf = {{cinder_rbd_keyring}}
rbd_user = {{cinder_rbd_user}}
rbd_secret_uuid = {{cinder_rbd_secret_uuid}}
rbd_exclusive_cinder_pool = {{p.exclusive_cinder_pool | default(true)}}
glance_api_version = 2

{% endfor %}
{% endif %}
{% if 'nfs' in cinder_backends %}
# nfs backends
{% for s in cinder_nfs_shares %}
[nfs_{{s.name}}]
volume_driver = cinder.volume.drivers.nfs.NfsDriver
volume_backend_name = {{s.name}}
nas_host = {{s.host}}
nas_share_path = {{s.share_path}}
{% if cinder_nfs_mount_options %}
nfs_mount_options = {{cinder_nfs_mount_options}}
{% endif %}
nfs_qcow2_volumes = True

{% endfor %}
{% endif %}
{% endif %}
