<secret ephemeral="no" private="no"> 
    <uuid>{{cinder_rbd_secret_uuid}}</uuid>
    <usage type="ceph">
        <name>client.cinder {{cinder_rbd_client_key | regex_search("key = (.*)", multiline=True)}}</name>
    </usage>
</secret>
