# {{ansible_managed}}

[DEFAULT]
transport_url = rabbit://{{cinder_rabbitmq_user}}:{{cinder_rabbitmq_user_password}}@{{rabbitmq_host}}
auth_strategy = keystone
my_ip = {{cinder_ip_address}}
glance_api_servers = http://{{glance_host}}:9292

{% if cinder_backend == 'lvm' %}
enabled_backends = {% for p in cinder_lvm_pools %}{{p.type}}{% if not loop.last %},{% endif %}{% endfor %}
{% elif cinder_backend == 'rbd' %}
enabled_backends = rbd
{% endif %}

[database]
connection = mysql+pymysql://cinder:{{cinder_db_user_password}}@{{db_host}}/cinder

[keystone_authtoken]
www_authenticate_uri = https://{{keystone_host}}:5000
auth_url = https://{{keystone_host}}:5000
memcached_servers = {{memcached_host}}:11211
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = cinder
password = {{cinder_user_password}}

[oslo_concurrency]
lock_path = /var/lib/cinder/tmp

{% if cinder_backend == 'lvm' %}
# lvm backend
[backend_default]
volume_driver = cinder.volume.drivers.lvm.LVMVolumeDriver
target_protocol = iscsi
target_helper = lioadm

{% for p in cinder_lvm_pools %}
[{{p.type}}]
volume_group = cinder-{{p.type}}
volume_backend_name = {{p.type}}

{% endfor %}
{% elif cinder_backend == 'rbd' %}
# rbd backend
[rbd]
volume_driver = cinder.volume.drivers.rbd.RBDDriver
rbd_pool = "{{cinder_rbd_pool}}"
rbd_ceph_conf = "{{cinder_rbd_ceph_conf}}"
rbd_keyring_conf = "{{cinder_rbd_keyring_conf}}"
rbd_user = "{{cinder_rbd_user}}"
{% endif %}
