# {{ansible_managed}}

[database]
connection = mysql+pymysql://glance:{{glance_db_user_password}}@{{db_host}}/glance

[glance_store]
{% if glance_backend == 'file' %}
stores = file,http
filesystem_store_datadir = /var/lib/glance/images/
{% elif glance_backend == 'rbd' %}
stores = glance.store.rbd.Store
rbd_store_pool = {{glance_rbd_pool}}
rbd_store_user = {{glance_rbd_user}}
rbd_store_ceph_conf = {{glance_rbd_ceph_config}}
{% endif %}
default_store = {{glance_backend}}

[keystone_authtoken]
www_authenticate_uri = https://{{keystone_host}}:5000
auth_url = https://{{keystone_host}}:5000
memcached_servers = {{memcached_host}}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = glance
password = {{glance_user_password}}

[paste_deploy]
flavor = keystone
