# {{ansible_managed}}

[DEFAULT]

[database]
connection = mysql+pymysql://glance:34b02bc7d04a95d450a9@controller/glance
backend = sqlalchemy

[keystone_authtoken]
www_authenticate_uri = http://{{keystone_host}}:5000
auth_url = http://{{keystone_host}}:5000
memcached_servers = {{memcached_host}}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = glance
password = {{glance_user_password}}

[matchmaker_redis]

[oslo_messaging_amqp]

[oslo_messaging_kafka]

[oslo_messaging_notifications]

[oslo_messaging_rabbit]

[oslo_messaging_zmq]

[oslo_policy]

[paste_deploy]
flavor = keystone

[profiler]
