# {{ansible_managed}}

[database]
connection = mysql+pymysql://glance:{{glance_db_user_password}}@{{db_host}}/glance

[keystone_authtoken]
www_authenticate_uri = {{keystone_url}}
auth_url = {{keystone_url}}
memcached_servers = {{memcached_host}}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = glance
password = {{glance_user_password}}

[paste_deploy]
flavor = keystone
