127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# {{ansible_managed}}

{% for node in groups.openstack %}
{{hostvars[node].management_ipv4.address}} {{hostvars[node].ansible_nodename}}
{% endfor %}
