# {{ansible_managed}}
# keystone environment variables for openstack octavia

export PS1="(openstack octavia) $PS1"

export OS_USERNAME=octavia
export OS_PASSWORD={{octavia_user_password}}
export OS_PROJECT_NAME=service
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_DOMAIN_NAME=Default
export OS_REGION_NAME={{os_region}}
export OS_AUTH_URL={{keystone_admin_url}}
export OS_INTERFACE=admin
export OS_IDENTITY_API_VERSION=3
