# {{ansible_managed}}

{% set non_sriov_vlan_networks = neutron_provider_vlan_networks | selectattr('interface', 'defined') %}
{% set all_networks = neutron_provider_flat_networks + non_sriov_vlan_networks %}
{% if is_network_node and all_networks | length > 0 %}
[linux_bridge]
physical_interface_mappings = {% for n in all_networks %}{{n.name}}:{{n.interface}}{% if not loop.last %},{% endif %}{% endfor %}

{% endif %}

[securitygroup]
firewall_driver = neutron.agent.linux.iptables_firewall.IptablesFirewallDriver
enable_security_group = true

[vxlan]
enable_vxlan = true
local_ip = {{neutron_overlay_ip_address}}
l2_population = true
