apiVersion: 1

datasources:
  - name: OpenStack Prometheus
    type: prometheus
    access: proxy
    url: http://{{ansible_nodename}}:9090
    isDefault: true
    version: 1
    editable: false
  - name: OpenStack Loki
    type: loki
    access: proxy
    url: http://{{ansible_nodename}}:3100
    version: 1
    editable: false
