# {{ansible_managed}}

[DEFAULT]
enabled_apis = osapi_compute,metadata
transport_url = rabbit://{{nova_rabbitmq_user}}:{{nova_rabbitmq_user_password}}@{{rabbitmq_host}}
my_ip = {{nova_ip_address}}
use_neutron = true
firewall_driver = nova.virt.firewall.NoopFirewallDriver
allow_resize_to_same_host = True

[api]
auth_strategy = keystone

{% if is_controller_node %}
[api_database]
connection = mysql+pymysql://nova:{{nova_db_user_password}}@{{db_host}}/nova_api

[database]
connection = mysql+pymysql://nova:{{nova_db_user_password}}@{{db_host}}/nova

[cinder]
os_region_name = RegionOne
{% endif %}

[glance]
api_servers = http://{{glance_host}}:9292

[keystone_authtoken]
auth_url = https://{{keystone_host}}:5000/v3
memcached_servers = {{memcached_host}}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = nova
password = {{nova_user_password}}

[neutron]
url = http://{{neutron_host}}:9696
auth_type = password
auth_url = https://{{keystone_host}}:5000
project_name = service
project_domain_name = default
username = neutron
user_domain_name = default
password = {{nova_neutron_user_password}}
region_name = RegionOne
{% if is_controller_node %}
service_metadata_proxy = true
metadata_proxy_shared_secret = {{nova_metadata_secret}}
{% endif %}

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[placement]
auth_type = password
auth_url = https://{{keystone_host}}:5000/v3
project_name = service
project_domain_name = Default
user_domain_name = Default
username = placement
password = {{nova_placement_user_password}}
region_name = RegionOne

[vnc]
enabled = true
server_proxyclient_address = $my_ip
{% if is_controller_node %}
server_listen = $my_ip
{% elif is_compute_node %}
novncproxy_base_url = http://{{nova_novnc_host}}:6080/vnc_auto.html
server_listen = 0.0.0.0
{% endif %}
