# {{ansible_managed}}

http:
  services:
{% for s in traefik_services + traefik_additional_services %}
    {{s.name}}:
      loadBalancer:
        servers:
          - url: "{{s.url}}"
{% endfor %}

  routers:
{% for s in traefik_services + traefik_additional_services %}
    {{s.name}}:
      rule: "Host(`{{s.name}}.{{traefik_domain}}`)"
{% if s.enable_websockets is defined and s.enable_websockets %}
      middlewares:
        - https-forward-header
{% endif %}
      service: {{s.name}}
      entryPoints:
        - web-secure
{% if not traefik_acme %}
      tls: {}
{% endif %}
{% endfor %}

  middlewares:
    https-forward-header:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
