# {{ansible_managed}}

[DEFAULT]
heat_metadata_server_url = http://{{heat_metadata_host}}:8000
heat_waitcondition_server_url = http://{{heat_metadata_host}}:8000/v1/waitcondition
stack_domain_admin = heat_domain_admin
stack_domain_admin_password = {{heat_admin_password}}
stack_user_domain_name = heat
transport_url = rabbit://{{heat_rabbitmq_user}}:{{heat_rabbitmq_user_password}}@{{rabbitmq_host}}

[clients_keystone]
auth_uri = https://{{keystone_host}}:5000

[database]
connection = mysql+pymysql://heat:{{heat_db_user_password}}@{{db_host}}/heat

[keystone_authtoken]
www_authenticate_uri = https://{{keystone_host}}:5000
auth_url = https://{{keystone_host}}:5000
memcached_servers = {{memcached_host}}:11211
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = heat
password = {{heat_user_password}}

[trustee]
auth_type = password
auth_url = https://{{keystone_host}}:5000
username = heat
password = {{heat_user_password}}
user_domain_name = default
