clouds:
  local:
    auth:
      username: admin
      password: {{keystone_admin_password}}
      project_name: admin
      user_domain_name: Default
      project_domain_name: Default
      auth_url: https://{{ansible_fqdn}}:5000/v3
