# {{ansible_managed}}

[DEFAULT]
public_endpoint = {{keystone_url}}

[database]
connection = mysql+pymysql://keystone:{{keystone_db_user_password}}@{{db_host}}/keystone

[token]
provider = fernet

[identity]
domain_specific_drivers_enabled = True
domain_config_dir = /etc/keystone/domains
