# {{ansible_managed}}

Listen 5000

<VirtualHost *:5000>
    SSLEngine on
    SSLCertificateFile {{req_cert_path}}
    SSLCertificateKeyFile {{req_privatekey_path}}
    WSGIDaemonProcess keystone-public processes=5 threads=1 user=keystone group=keystone display-name=%{GROUP}
    WSGIProcessGroup keystone-public
    WSGIScriptAlias / /usr/bin/keystone-wsgi-public
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization On
    LimitRequestBody 114688
    <IfVersion >= 2.4>
      ErrorLogFormat "%{cu}t %M"
    </IfVersion>
    ErrorLog /var/log/httpd/keystone.log
    CustomLog /var/log/httpd/keystone_access.log combined

    <Directory /usr/bin>
        <IfVersion >= 2.4>
            Require all granted
        </IfVersion>
        <IfVersion < 2.4>
            Order allow,deny
            Allow from all
        </IfVersion>
    </Directory>
</VirtualHost>

Alias /identity /usr/bin/keystone-wsgi-public
<Location /identity>
    SetHandler wsgi-script
    Options +ExecCGI

    WSGIProcessGroup keystone-public
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization On
</Location>
{% if keystone_openid_providers | length > 0 %}

OIDCClaimPrefix "OIDC-"
OIDCResponseType id_token
OIDCScope "openid email profile"
OIDCCryptoPassphrase {{keystone_openid_crypto_passphrase}}
OIDCRedirectURI /v3/auth/OS-FEDERATION/websso/openid
OIDCProviderTokenEndpointAuth client_secret_basic
OIDCRemoteUserClaim email
OIDCClaimDelimiter ";"
OIDCMetadataDir /etc/httpd/mod_auth_openidc
OIDCDiscoverURL /oidc-discover

{% for provider in keystone_openid_providers %}
# {{provider.name}} openid provider
<Location /v3/OS-FEDERATION/identity_providers/{{provider.name}}/protocols/openid/auth>
    AuthType openid-connect
    Require valid-user
</Location>

<Location /v3/auth/OS-FEDERATION/identity_providers/{{provider.name}}/protocols/openid/websso>
    AuthType openid-connect
    Require valid-user
</Location>

{% endfor %}
<Location /v3/auth/OS-FEDERATION/websso/openid>
    AuthType openid-connect
    Require valid-user
</Location>

<Location /oidc-discover>
    RewriteEngine On
{% for provider in keystone_openid_providers %}
    RewriteCond %{QUERY_STRING} target_link_uri=[^&]*identity_providers%2F{{provider.name}}%2F[^&]*
    RewriteRule ^(.*)$ {{keystone_public_url}}/v3/auth/OS-FEDERATION/websso/openid?%{QUERY_STRING}&iss={{provider.issuer}} [R=302,NE,L]
{% endfor %}
</Location>

<Location /logout>
    Redirect 302 {{keystone_openid_horizon_logout_url}}
</Location>
{% endif %}
