# {{ansible_managed}}

[ml2]
type_drivers = flat,vlan,vxlan
tenant_network_types = vxlan
mechanism_drivers = linuxbridge,l2population
extension_drivers = port_security
{% if neutron_path_mtu %}
path_mtu = {{neutron_path_mtu}}
{% endif %}

[ml2_type_flat]
flat_networks = provider

[ml2_type_vxlan]
vni_ranges = 1:1000

[ml2_type_vlan]
network_vlan_ranges = provider:2:10

[securitygroup]
enable_ipset = true
