module fix_neutron_ha_check_script 1.0;

require {
	type keepalived_t;
    class process setcap;
}

#============= keepalived_t ==============
# Bugzilla 1789068
netutils_exec_ping(keepalived_t)
allow keepalived_t self:process setcap;
