# {{ansible_managed}}

[DEFAULT]
transport_url = rabbit://{{designate_rabbitmq_user}}:{{designate_rabbitmq_user_password}}@{{rabbitmq_host}}

[service:api]
listen = 0.0.0.0:9001
auth_strategy = keystone
enable_api_v2 = True
enable_api_admin = True
enable_host_header = True
enabled_extensions_admin = quotas, reports

[service:central]
scheduler_filters = {{designate_scheduler_filters | join(', ')}}

[service:mdns]
query_enforce_tsig = {{designate_mdns_query_enforce_tsig}}
listen = {{designate_mdns_listen | join(', ')}}

[keystone_authtoken]
auth_type = password
username = designate
password = {{designate_user_password}}
project_name = service
project_domain_name = Default
user_domain_name = Default
www_authenticate_uri = {{keystone_url}}
auth_url = {{keystone_url}}
memcached_servers = {{memcached_host}}:11211

[storage:sqlalchemy]
connection = mysql+pymysql://designate:{{designate_db_user_password}}@{{db_host}}/designate
