# {{ansible_managed}}

include "/etc/designate/rndc.key";
include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

options {
    listen-on    port 53 { 127.0.0.1; {% for ip in designate_named_ipv4_listen_addresses %}{{ip}}; {% endfor %}};
    listen-on-v6 port 53 { ::1; {% for ip in designate_named_ipv6_listen_addresses %}{{ip}}; {% endfor %}};
    directory    "/var/named";

    dump-file          "/var/named/data/cache_dump.db";
    statistics-file    "/var/named/data/named_stats.txt";
    memstatistics-file "/var/named/data/named_mem_stats.txt";
    recursing-file     "/var/named/data/named.recursing";
    secroots-file      "/var/named/data/named.secroots";

    allow-query       { any; };
    allow-transfer    { {% if designate_allow_transfer | length > 0 %}{% for ip in designate_allow_transfer%}{{ip}}; {% endfor %}{% else %}"none"; {% endif %}};
{% if designate_allow_transfer | length > 0 %}
    also-notify       { {% for ip in designate_allow_transfer%}{{ip}}; {% endfor %}};
{% endif %}
    recursion         {% if designate_recursion %}yes{% else %}no{% endif %};
    dnssec-enable     yes;
    dnssec-validation yes;
    allow-new-zones   yes;
    request-ixfr      no;

{% if designate_forwarders | length > 0 %}
    forwarders {
{% for forwarder in designate_forwarders %}
        {{forwarder}};
{% endfor %}
    };
{% endif %}

    bindkeys-file          "/etc/named.root.key";
    managed-keys-directory "/var/named/dynamic";
    pid-file               "/run/named/named.pid";
    session-keyfile        "/run/named/session.key";
};

logging {
    channel default_debug {
        file "data/named.run";
        severity dynamic;
    };
};

zone "." IN {
    type hint;
    file "named.ca";
};

controls {
    inet 127.0.0.1 port 953
    allow { 127.0.0.1; } keys { "designate"; };
};

{% if designate_mdns_query_enforce_tsig %}
server 127.0.0.1 {
    keys { designate; };
};
{% endif %}
