- name: install
  yum:
    name: openstack-dashboard

- name: configure
  template:
    src: local_settings.py.j2
    dest: /etc/openstack-dashboard/local_settings
    backup: true
  notify: restart httpd

- name: configure httpd
  template:
    src: openstack-dashboard.conf.j2
    dest: /etc/httpd/conf.d/openstack-dashboard.conf
  notify: reload httpd
